.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  margin-top: 100px;
}

.cookie {
	width: 150px;
}

.reset {
	margin-top: 50px;
	border-radius: 10px;

	&:hover {
		cursor: pointer;
	}
}

.upgrades {
	width: 60%;
	display: flex;
	justify-content: space-around;

	&-box {
		display: flex;
		flex-direction: column;
		align-items: center;
		opacity: 0.5;
		pointer-events: none;

    &.on  {
      border-radius: 30px;
      opacity: 1;
      pointer-events: all;
    }
	}

	&-box > button {
		width: 100px;
		border-radius: 30px;

		&:hover {
			cursor: pointer;
		}
	}

}
